<body class="body">
  <div class="PBG">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Andrew</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-item nav-link" id="homeLink" href="home">About</a>
              <li class="nav-item">
                  <a class="nav-item nav-link" id="contactLink" href="contact">Contact</a>
              </li>
              <li class="nav-item active">
                <a class="nav-item nav-link" id="portfolioLink" href="portfolio">Portfolio</a>
              </li>
          </ul>
      </div>
    </nav>
    <br>
      <div class="row"> 
        <div class="col-md-2"></div>
        <div id="portfolioHeader" class="col-md-8"><h1><strong>Completed Projects:</strong></div></h1></div>
        <div class="col-md-2"></div>
      </div> 
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 pImage">
          <img id = "img1" src="images/FeelingHungry.png" alt= "Feeling Hungry?">
            <div class="pCap" id="pCap1"><a href="https://github.com/tayler176/FeelingHungry" target="_blank">Github Repository</a></div>
            <div class="qCap" id="qCap1"><a href="https://tayler176.github.io/FeelingHungry/" target="_blank">Live Preview</a></div>

              <div id="myModal1" class="modal">

                <span class="close close1">&times;</span>

                <img class="modal-content" id="img01">

              <div id="caption1">Group Project: Feeling Hungry?</div>
              </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 pImage">
          <img id = "img2" src="images/Trivia.png" alt="Trivia Game">
              <div class="pCap" id="pCap2"><a href="https://github.com/ascinitially/TriviaGame" target="_blank">Github Repository</a></div>
              <div class="qCap" id="qCap2"><a href="https://ascinitially.github.io/TriviaGame/" target="_blank">Live Preview</a></div>
              <div id="myModal2" class="modal">

              <!-- The Close Button -->
              <span class="close close2">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img02">

              <!-- Modal Caption (Image Text) -->
              <div id="caption2">Trivia Game</div>
              </div>
        </div>

        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 pImage">
          <img id = "img3" src="images/Hangman.png" alt="Word Guess Game">
            <div class="pCap" id="pCap3"><a href="https://github.com/ascinitially/Word-Guess-Game" target="_blank">Github Repository</a></div>
            <div class="qCap" id="qCap3"><a href="https://ascinitially.github.io/Word-Guess-Game/" target="_blank">Live Preview</a></div>

              <div id="myModal3" class="modal">

              <!-- The Close Button -->
              <span class="close close3">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img03">

              <!-- Modal Caption (Image Text) -->
              <div id="caption3">Word Guess Game</div>
              </div>
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-4 pImage">
          <img id="img4" src="images/Mushie.png" alt="Gather the Mushrooms">
            <div class="pCap" id="pCap4"><a href="https://github.com/ascinitially/unit-4-game" target="_blank">Github Repository</a></div>
            <div class="qCap" id="qCap4"><a href="https://ascinitially.github.io/unit-4-game/" target="_blank">Live Preview</a></div>

              <div id="myModal4" class="modal">

              <!-- The Close Button -->
              <span class="close close4">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img04">

              <!-- Modal Caption (Image Text) -->
              <div id="caption4">Gather the Mushrooms</div>
              </div>
        </div>

        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 pImage">
          <img id="img5" src="images/Bamazon.png" alt="Bamazon">
            <div class="pCap" id="pCap5"><a href="https://github.com/ascinitially/bamazon" target="_blank">Github Repository</a></div>
              <div class="qCap" id="qCap5"><a href="https://drive.google.com/file/d/1-16RK1f9ZFv8RuAC1tmsCtNm0Fc_lq7n/view" target="_blank">Video Preview</a></div>

              <div id="myModal5" class="modal">

              <!-- The Close Button -->
              <span class="close close5">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img05">

              <!-- Modal Caption (Image Text) -->
              <div id="caption5">Bamazon Manager</div>
              </div>
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-4 pImage">
              <img id="img4" src="images/LIRI.png" alt="LIRI assistant">
                <div class="pCap" id="pCap6"><a href="https://github.com/ascinitially/liri-node-app/tree/master" target="_blank">Github Repository</a></div>
              <div class="qCap" id="qCap6"><a href="https://drive.google.com/file/d/1nRK2pkQbdauvTweQF1NfksEC_yZDoTfE/view" target="_blank">Video Preview</a></div>
              
                <div id="myModal4" class="modal">

                <!-- The Close Button -->
                  <span class="close close6">&times;</span>

                <!-- Modal Content (The Image) -->
                  <img class="modal-content" id="img06">

                <!-- Modal Caption (Image Text) -->
                  <div id="caption6">LIRI Assistant</div>
              </div>

        </div>

        <div class="col-md-1"></div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="/js/modalControl.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </div>
  </body>